:root {
  /*color*/
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-dark-color: #8f8f8f;
  --grey-light-color: #cccccc;
  /*Size*/
  --side-padding: 12px;

  /*Font size*/
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Patua One";
}
a {
  text-decoration: none;
  color: var(--white-color);
}
.head {
  display: flex;
}
.header {
  position: relative;
}
.header .head .navbar {
  width: 100%;
}
.header .head .navbar .nav_menu li:hover {
  background-color: teal;
  border-radius: 5%;
}
.header .nav_logo {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.header .nav_menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 8%;
}
.header .nav_menu li {
  list-style: none;
  padding: 1.5rem;
  font-size: var(--font-large);
  font-weight: 600;
}
/*.img {
  padding-left: 8%;
}
.img img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  opacity: 80%;
}*/
.main {
  width: 100%;
}
.main .main_write {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 70%;
  padding-left: 8%;
  color: var(--white-color);
}
.main .main_write .welcome {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 20px;
}
.main .main_write .main_small_write {
  font-size: 1.5em;
  font-weight: 500;
}
.camel {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.camel img {
  width: 100%;
  height: 100%;
}
