:root {
  /*color*/
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-dark-color: #8f8f8f;
  --grey-light-color: #cccccc;
  /*Size*/
  --side-padding: 12px;

  /*Font size*/
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Patua One";
}
.body {
}
a {
  text-decoration: none;
  color: var(--black-color);
}
.head {
  display: flex;
  height: 30%
}
.header {
  position: relative;
  margin-top: 3px;
}
.header .head .navbar {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header .nav_menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin: auto 4%;
}
.header .nav_menu li {
  display: inline-block;
  list-style: none;
  margin-top: 4px;
  padding: 16.5px;
  font-size: 18px;
  font-weight: 600;
  height: 60px;
}
.header .nav_menu .itme4 {
  position: relative;
}
.header .nav_menu .sub_menu_list {
  display: none;
  position: absolute;
}
.header .nav_menu .sub_menu_list .sub_menu {
  padding:0.6em;
  font-size: 14px;
  height: 30px;
}
.header .nav_menu .sub_menu_list .sub_menu a{
  font-size: 14px;
}
.header .head .navbar .nav_menu > li:hover {
  background-color: var(--grey-dark-color);
  border-radius: 8%;
  transition: all 0.7s;
  transform: scale(1.15);
}

.header .head .navbar .nav_menu a:hover {
  color: #ffffff;
}
.header .nav_menu .sub_menu_list .sub_menu a:hover {
  color: white;
}
.header .nav_menu .itme4:hover .sub_menu_list {
  display: block;
}
.header .nav_menu .itme4:hover {
  height: 150px;
}

.header .nav_logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.resume {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  animation: hi 3s;
}
.resume .sc_img img {
  position: relative;
  left: 25%;
  top: 5%;
  width: 450px;
  height: 450px;
  border-radius: 50%;
}
.resume .resume_info .hi {
  position: absolute;
  top: 2%;
  left: 50%;
  font-size: 2rem;
  font-weight: 600;
}
@keyframes hi{
  from{
    color: white;
    opacity: 0%;
  }
  to{color: black;
    opacity: 100%;
  }
}
.resume .profile_info {
  display: flex;
  flex-direction: column;
}

.resume .profile_info .profile {
  position: absolute;
  top: 15%;
  left: 50%;
}
.resume .profile_info .profile span {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 14px;
}
.resume .profile_info .profile .id {
  font-size: 16px;
  font-weight: 800;
  padding-right: 20px;
}
.resume .education_info .education {
  position: absolute;
  left: 50%;
  top: 40%;
}
.resume .education_info .education{
    font-size: 14px;
}
.resume .education_info .education .graduate {
  font-size: 16px;
  font-weight: 800;
  padding-right: 20px;
}
.resume .software_skill_info .sft_skill {
  position: absolute;
  left: 50%;
  top: 55%;
  font-size: 16px;
  font-weight: 800;
}
.resume .software_skill_info .sft_skill span {
  padding-right: 50px;
}
.resume .license_info .license {
  position: absolute;
  left: 50%;
  top: 65%;
  font-size: 14px;
}
.resume .license_info .license .licenses {
    font-size: 16px;
    font-weight: 800;
    padding-right: 20px;
